{% extends 'paginas/base.html' %}

{% load static %}

{% block menu %}
{% endblock %}

{% block content %}

<h3>Excluir arquivo</h3>

<p class="lead">
    Confirme para excluir o registro definitivamente.
</p>

<hr>
<form action="" method="POST">

    <p>
        Deseja excluir o arquivo: <strong> {{ object }}</strong>?
    </p>

    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit" class="btn btn-danger">Excluir</button>

</form>
</div>

{% endblock %}

{% block rodape %}
{% endblock %}