{% extends 'paginas/base.html' %}

{% load static %}

{% block conteudo %}
<h3>Sobre o Projeto</h3>

<p class="lead">Aplicação web desenvolvida em Django para gerenciamento de arquivos (.pdf)</p>
<p class="lead">- CRUD simples: upload de arquivos, separados por categorias; o usuário pode</p>
<p class="lead">ainda cadastrar novas categorias, para organizar o upload de seus arquivos e</p>
<p class="lead">por fim, ele ainda pode excluí-los. ... O servidor gerencia o envio dos </p>
<p class="lead">arquivos e salva em um banco de dados (postgresql). ... Em construção...</p>

{% endblock %}