{% extends 'paginas/base.html' %}

{% load static %}

{% block content %}

<h3>
    Lista de Arquivos Upados
    <a href="{% url 'upar-arquivo' %}" class="btn btn-primary btn-sm float-right">Adicionar arquivo</a>
</h3>

<hr>

<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Descrição</th>
            <th>Arquivo</th>
            <th>Opções</th>
        </tr>

        {% for arquivo in object_list.filter %}
        <tr>
            {% if arquivo.categoria_id %}
            <td>{{ arquivo.nome }}</td>
            <td>{{ arquivo.categoria }}</td>
            <td>{{ arquivo.descricao }}</td>
            <td>{{ arquivo.arquivo }}</td>
            <td>
                <a href="{% url 'editar-arquivo' arquivo.pk %}" class="btn btn-warning btn-sm">Editar
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a href="{% url 'excluir-arquivo' arquivo.pk %}" class="btn btn-danger btn-sm">Excluir
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
            {% endif %}
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhum arquivo upado.</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}

{% block rodape %}
{% endblock %}