{% extends 'paginas/base.html' %}

{% load static %}

{% block menu %}
{% endblock %}

{% block conteudo %}
<h3>Lista de Arquivos</h3>

<a href="{% url 'upar-arquivo' %}">Adicionar Arquivo</a>

<table>
    <tr>
        <th>Nome</th>
        <th>Categoria</th>
        <th>Descrição</th>
        <th>Arquivo</th>
        <th>Opções</th>
    </tr>

    {% for arquivo in object_list.filter %}
    <tr>
        {% if arquivo.categoria_id %}
        <td>{{ arquivo.nome }}</td>
        <td>{{ arquivo.categoria }}</td>
        <td>{{ arquivo.descricao }}</td>
        <td>{{ arquivo.arquivo }}</td>
        <td>
            <a href="{% url 'editar-arquivo' arquivo.pk %}">Editar</a>
            <a href="{% url 'excluir-arquivo' arquivo.pk %}">Excluir</a>
        </td>
        {% endif %}
    </tr>
    {% empty %}
    <tr>
        <td>Nenhum arquivo upado.</td>
    </tr>
    {% endfor %}
</table>

{% block rodape %}
{% endblock %}

{% endblock %}