{% extends 'paginas/base.html' %}

{% load static %}

{% block menu %}
{% endblock %}

{% block content %}

<div class="container">

    <a href="{% url 'criar-categoria' %}">Adicionar Categoria</a>

    <table>
        <tr>
            <th>Nome</th>
            <th>Opções</th>
        </tr>

        {% for categoria in object_list %}
        <tr>
            <td>
                <a href="{% url 'listar-arquivos' %}">{{ categoria.nome }}</a>
            </td>
            <td>
                <a href="{% url 'editar-categoria' categoria.pk %}">Editar</a>
                <a href="{% url 'excluir-categoria' categoria.pk %}">Excluir</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>Nenhum campo registrado.</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}

{% block rodape %}
{% endblock %}