{% extends 'paginas/base.html' %}

{% load static %}

{% block content %}

<h3>
    Lista de Categorias Registradas
    <a href="{% url 'criar-categoria' %}" class="btn btn-primary btn-sm float-right">Adicionar Categoria</a>
</h3>

<hr>

<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Nome</th>
            <th>Opções</th>
        </tr>

        {% for categoria in object_list %}
        <tr>
            <td>
                <a href="{% url 'listar-arquivos' %}">{{ categoria.nome }}</a>
            </td>
            <td>
                <a href="{% url 'editar-categoria' categoria.pk %}" class="btn btn-warning btn-sm">Editar
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a href="{% url 'excluir-categoria' categoria.pk %}" class="btn btn-danger btn-sm">Excluir
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhum categoria registrado.</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}

{% block rodape %}
{% endblock %}